html * {
  color: #1a243a !important;
  font-family: cursive !important;
}

.card-img {
  width: 20px;
}

.truncated-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5em;
}

.link-custom {
  text-decoration: none;
  padding: 7px 15px;
  margin: 0 auto;
  text-align: center;
  background-color: #f39300;
  border-radius: 10px;
}

.stock-custom {
  font-size: 13px !important;
  padding: 6px;
  color: white !important;
  background-color: #E5C500;
  border-radius: 10px;
}

.navlink-custom {
  padding: 0 15px;
}

.title-custom {
  color: rgb(51, 51, 51);
  font-size: 18px !important;
  font-weight: bold;
  padding: 10px 0;
}

.span-item {
  font-size: 13px !important;
  cursor: pointer;
}

.price {
  color: #a4b122 !important;
  font-size: 22px !important;
  font-weight: 600;
}

.footer {
  text-align: center;
  padding: 10px;
}

/* #f34a23 red */
/* #f39300 orange */
/* #f9e8cc cream */
/* #a4b122 green */
/* #44bdce light blue */
/* #1a243a dark blue */